<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>_(:з」∠)_</string>
	<string>＠ 'ェ' ＠</string>
	<string>(^L^)</string>
	<string>♪(´ε｀)</string>
	<string>(^O^)</string>
	<string>∧( 'Θ' )∧</string>
	<string>→_→</string>
	<string>(^_^;)</string>
	<string>(b_d)</string>
	<string>(._.)</string>
	<string>{(-_-)}</string>
	<string>-☆^ _ ^</string>
	<string>U・x・U</string>
	<string>(･･;)</string>
	<string>(-｡-;</string>
	<string>(^ ^)</string>
	<string>(@_@)</string>
	<string>(＾＿＾)</string>
	<string>(z_z)</string>
	<string>(*^o^*)</string>
	<string>(｀_´)ゞ</string>
	<string>(¬_¬)</string>
	<string>(-_-)</string>
	<string>(^_-)</string>
	<string>(;_;)</string>
	<string>(°_°)</string>
	<string>(^▽^)o</string>
	<string>囧rz</string>
	<string>(^_-)O</string>
	<string>( ^ ^ )/□</string>
	<string>(c_c)</string>
	<string>("▔□▔) </string>
	<string>o(^▽^)</string>
	<string>(p_-)</string>
	<string>(u_u)</string>
	<string>)^o^(</string>
	<string>(*^_^*)</string>
	<string>(-_^)</string>
	<string>(＃ ﾟДﾟ)</string>
	<string>(^_^)</string>
	<string>(^^)</string>
	<string>(^^;;</string>
	<string>m(__)m</string>
	<string>(^-^)</string>
	<string>(･_･;</string>
	<string>(⌒-⌒; )</string>
	<string>^_^</string>
	<string>(−_−＃)</string>
	<string>(o_0)</string>
	<string>(*｀ω´)</string>
	<string>(T_T)</string>
	<string>(＃^.^＃)</string>
	<string>//_o\</string>
	<string>(O_o)</string>
	<string>(ｰｰ;)</string>
	<string>(ゝ。∂）</string>
	<string>(^(^)</string>
	<string>(⊙﹏⊙) </string>
	<string>(^.^)</string>
	<string>(^o^)</string>
	<string>(*☻-☻*)</string>
	<string>^^; </string>
	<string>(e_e)</string>
	<string>_φ(･_･)</string>
	<string>(&lt;_&lt;)</string>
	<string>(-_-)zz</string>
	<string>( ^o^)/</string>
	<string>(&gt;_&lt;)</string>
	<string>(^_^*)</string>
	<string>♪(´▽｀)</string>
	<string>(⌒▽⌒)</string>
	<string>(~_~;)</string>
</array>
</plist>
